body {
    font-family: verdana,arial,helvetica,'sans-serif';
    margin: 0;
}

#pmp-logo {
    float: left;
    margin-right: 8px;
}

h1 a {
    text-decoration: none;
    color: #444;
}

#main {
    padding: 4px;
}

#results {
    padding: 1em;
}

#pager {
    margin-left: 1em;
}

.total {
    margin-bottom: 4px;
}

.result {
    margin: 1em;
    padding-top: 0.5em;
    border-top: 1px solid #ddd;
    min-height: 105px;
}

.published {
    font-size: 90%;
    color: #777;
}

.tags {
    margin: 0.5em;
}

.uri {
    font-size: 80%;
    color: green;
    padding-top: 4px;
}

.search th {
    text-align:right;
}

.search td {
    padding-left: 4px;
}

.search td input {
    width: 30em;
}

.result .thumb img {
    max-height: 100px;
    float: left;
    border: 1px solid #444;
    margin-right: 8px;
}

.help {
    font-size: 90%;
    color: #444;
}

/* override pager defaults */
._wPaginate_grey ._wPaginate_link_active {
    color:#000;
    font-weight: bold;
    border: 1px solid #000;
}

/* responsive overrides */

@media (max-width: 800px) {
    .search td input {
        width: 15em;
    }
    .result .title {
        clear: both;
    }
}

